.left-btn {
    background-color: rgb(0,0,0);
    color: #ffffff
}

.right-btn {
    background-color: hsl(60, 100%, 50%);
}

.left-btn,
.right-btn {
    font-size: 28px;
    font-family: Helvetica, "Times New Roman", sans-serif;
}
